
<div class="cuisine_error"><%= flash[:message] %></div>

<h3>Cuisines</h3>

<ul>
<%@cuisines.each do |cuisine|%>
  <li><%= link_to cuisine.name, cuisine_path(cuisine) %></li>
<%end%>
</ul>

<% if admin? %>
  <%= render 'admin_cuisines' %>
<%end%>
