
<h1> Welcome! </h1>

<% if session[:user_id] %>
  <a class="navbar-brand" href="<%= logout_path%>">Log Out</a><br>
<%else%>
  <a class="navbar-brand" href="<%= login_path%>">Log In</a><br>
  <a class="navbar-brand" href="<%= new_user_path%>">Sign Up</a><br>
<%end%>
